@font-face {
  font-family: "Norse";
  src: 
    url("fonts/Norse-Bold.woff2") format("woff2"),
    url("fonts/Norse-Bold.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
}

header {
  background: 0% 0% / 100% 100% url("/images/background.jpg");
  flex: 2;
  position: relative;
}

h1 {
  font-family: "Norse", sans-serif;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  text-align: center;
  font-size: clamp(2rem, 6vw, 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  padding: .25rem;
}

footer {
  color: #ccc;
  text-align: center;
  font-size: clamp(.4rem, 1vw, 1.5rem);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: .6rem;
}

a {
 color: inherit; 
}

main {
  flex: 3;
}